

<form>
<mat-form-field>
    <input matInput placeholder="emp id" name="empId" [(ngModel)]="id">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="fname" name="fname" [(ngModel)]="fname">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="lname" name="lname" [(ngModel)]="lname">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="city" name="city" [(ngModel)]="city">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="dob" name="dob" [(ngModel)]="dob">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="address" name="address"[(ngModel)]="address">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="mobile" name="mobile" [(ngModel)]="mobile">
</mat-form-field>
<button class="btn btn-success" (click)=saveUser()>Update</button>
</form>




